*{
    padding: 0;
    margin: 0;
}

.Nav{
    background-color: #1860c6;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.IconLogo{
    height: 40px;
    width: auto;
}

.TextoNav{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.Rotas{
    margin: 15px;
}

.Banner{
    width: 100%;
}

.Sobre{
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #d2e8ff;
}

.Icon{
    height: 250px;
    width: auto;
}

.Informacoes{
    width: 750px;
}

.Subtitulo{
    font-size: 30px;
    font-family: "Concert One", sans-serif;
}

.Rodape{
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #1860c6;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 1px;
}

.Texto{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.Importancia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #d2e8ff;
}

.Form{
    height: 86vh;
    background-color: #d2e8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Formu{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Formulario{
    width: 40%;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
    padding: 20px;
}

.Input{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 12px;
}

.InserirInput{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
    border: 1px solid;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.Btn{
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Btn:hover {
    background-color: #27408B;
}

.Pacientes{
    display: grid;
    height: 86vh;
    background-color: #d2e8ff;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.Card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 25px;
}

.ImgUsuario{
    height: 80px;
    width: auto;
}

.Usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}