<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Links Google #}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@100;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./static/estilo.css">
    <title>{{ Titulo }}</title>
</head>
<body>
{# --- NAV --- #}
<section class="Nav">
    <a href="/" class="Logo">
        <img class="IconLogo" src="./static/IconPsco.png">
        <p class="TextoNav"><strong>Espaço Psicologia</strong></p>
    </a>
    <div class="Rotas">
        <a class="TextoNav" href="/importancia">Importância</a>
        <a class="TextoNav" href="/cadastro">Cadastro Pacientes</a>
        <a class="TextoNav" href="/exibir">Pacientes Cadastrados</a>
    </div>
</section>

{# --- BANNER --- #}
<section>
    <img class="Banner" src="./static/BannerPsico.jpg">
</section>

{# --- SOBRE --- #}
<section class="Sobre">
    <img class="Icon" src="./static/IconSobre.png">
    <div class="Informacoes">
        <h4 class="Subtitulo">Sobre</h4>
        <p class="Texto">Bem-vindo(a) à nossa clínica de psicologia! Nosso espaço foi criado para oferecer um ambiente acolhedor e seguro, onde você pode se sentir à vontade para falar sobre suas emoções, pensamentos e desafios. Contamos com uma equipe de profissionais qualificados e dedicados ao seu bem-estar emocional, prontos para ajudar você a enfrentar suas questões com cuidado e respeito. Oferecemos atendimentos individuais, terapias de casal, familiares e de grupos, sempre com foco na construção de uma vida mais equilibrada e saudável. Aqui, acreditamos que cada pessoa é única, e por isso, nossos tratamentos são personalizados, visando atender às suas necessidades específicas.</p>
    </div>
</section>

{# --- RODAPÉ --- #}
<footer class="Rodape">
    <p class="TextRodape">Feitor por: <em>Karoline Moraes</em></p>
</footer>
</body>
</html>