<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Links Google #}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@100;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./static/estilo.css">
    <title>{{ Titulo }}</title>
</head>
<body class="">
{# --- NAV --- #}
<section class="Nav">
    <a href="/" class="Logo">
        <img class="IconLogo" src="./static/IconPsco.png">
        <p class="TextoNav"><strong>Espaço Psicologia</strong></p>
    </a>
    <div class="Rotas">
        <a class="TextoNav" href="/importancia">Importância</a>
        <a class="TextoNav" href="/cadastro">Cadastro Pacientes</a>
        <a class="TextoNav" href="/exibir">Pacientes Cadastrados</a>
    </div>
</section>

{# --- IMPORTÂNCIA --- #}
<section class="Importancia" style="height: 86vh;">
    <img class="Icon" src="./static/IconImportancia.png">
    <div class="Informacoes">
        <h4 class="Subtitulo">Importância</h4>
        <p class="Texto">Procurar ajuda de um psicólogo é um passo fundamental para cuidar da saúde mental e emocional. Muitas vezes, enfrentamos desafios que podem nos sobrecarregar, como estresse, ansiedade, tristeza ou conflitos interpessoais. O psicólogo oferece um espaço seguro e acolhedor para falar sobre essas questões, ajudando a identificar padrões de comportamento, emoções e pensamentos que possam estar prejudicando o bem-estar. Através do autoconhecimento e de técnicas terapêuticas, a psicoterapia permite encontrar novas formas de lidar com os problemas, promovendo uma vida mais equilibrada e saudável. Buscar ajuda profissional não é sinal de fraqueza, mas sim de coragem e cuidado com si mesmo.</p>
    </div>
</section>

{# --- RODAPÉ --- #}
<footer class="Rodape">
    <p class="TextRodape">Feitor por: <em>Karoline Moraes</em></p>
</footer>

</body>
</html>